asgiref==3.7.2
attrs==23.1.0
click==8.1.7
Django==4.2.6
django-ckeditor==6.7.0
django-cors-headers==4.3.0
django-js-asset==2.1.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
h11==0.14.0
inflection==0.5.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
Pillow==10.1.0
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
rpds-py==0.10.6
sqlparse==0.4.4
uritemplate==4.1.1
uvicorn==0.23.2

